{% extends 'base.html'%}
{% load bootstrap4 %}
{% load static%}

{% block content %}
<div class="container">
        <div class="row" style="padding-top: 20px">
            {%for schedule in schedules %}
            <div class="col-md-4" style="margin-bottom:10px;">
                <div class="card">
                    
                    <div class="card">
                        <p>DAY</p>
                    </div>
                    <div class="card-body">
                            <p>{{schedule.day}}</p>
                         <p>TIME:{{schedule.time}}</p> 

                    </div>
                </div>
            </div>           
            {%endfor%}
                    
    </div>
    </div>
    
    {%endblock%}






